<style>
#main{
	width:200px;
}

.row{
	margin-bottom: 10px;
}
</style>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Search Page</h1>
    </div>

    <!-- Content Row -->
    <div class="row" th:each="p:${splist}">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-12 mb-12" >
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-xl-4">
                            <img id="main" th:src="@{'/img/'+${p.imgname}}">
                        </div>
                        <div class="col-xl-8">
	                        <div class="h5 font-weight-bold text-primary mb-0"
	                        	th:text="${p.catename}">
                                Category</div>  
                            <div class="h5 font-weight-bold text-primary mb-0"
                            	th:text="${p.name}">
                                Product Name</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"
                            	th:text="${p.price}">
                            	Price
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800"
                            	th:text="${#dates.format(p.regdate,'yyyy/MM/dd')}">
                            	0000-00-00
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
     
    </div>
    
   

   
              

    

