<script>
$(document).ready(function(){
	$('#updatebtn').click(function(){
		$('.user').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'update' 
		});
		$('.user').submit();
	});
});

</script>

<style>
.form-group > img{
	width:200px; 
}
</style>

  <div class="col-lg-6">
      <div class="p-5">
          <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Product Information</h1>
          </div>

          <form class="user">
         	  <div class="form-group">
         	  	  <img th:src="@{'/img/'+${dp.imgname}}">
         	  	  <input type="hidden" name="imgname" th:value="${dp.imgname}">
          	  </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="id" value="id01" th:value="${dp.id}" readonly="readonly">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="name" value="pwd01" th:value="${dp.name}">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="price" value="number" th:value="${dp.price}">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control form-control-item"
                      name="regdate" value="number" th:value="${#dates.format(dp.regdate,'yyyy/MM/dd')}">
              </div>
              <div class="form-group">
                 <select name="cid" class="form-control form-control-item">
                 	<option th:each="c:${clist}" 
                 	th:if="${c.pid != 0}"
                 	th:value="${c.id}" 
                 	th:text="${c.name}"
                 	th:selected="${c.id} == ${dp.cid}"
                 	>
                 	</option>
                 </select>
              </div>
              <div class="form-group">
                  <input type="file" class="form-control form-control-item"
                      name="mf">
              </div>
              <a id="updatebtn" href="#" class="btn btn-primary btn-user btn-block">
                  UPDATE
              </a>
             
          </form>
         
      </div>
  </div>
