 <!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Product Tables</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>REGDATE</th>
                        <th>CATEGORY</th>
                        <th>IMAGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p:${plist}">
                    	<!-- /cust/detail?id=id01 -->
                        <td><a href="" th:text="${p.id}" th:href="@{detail(id=${p.id})}">id</a></td>
                        <td th:text="${p.name}">Name</td>
                        <td th:text="${p.price}">Price</td>
                        <td th:text="${#dates.format(p.regdate,'yyyy/MM/dd')}">0000/00/00</td>
                        <td th:text="${p.catename}">Category</td>
                        <td th:text="${p.imgname}">IMG</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
