<meta charset="utf-8">

<script>
function sendUid(uid){
	$.ajax({
		url:'/checkid',
		data:{'id': uid},
		success:function(data){
			if(data == '1'){
				$('#uspan').text('존재하는 유저');
			}else{
				$('#uspan').text('존재하지 않는 유저');
			}
		}
	});
};

function sendPid(pid){
	$.ajax({
		url:'/checkpid',
		data:{'id': pid},
		success:function(data){
			if(data == '1'){
				$('#pspan').text('존재하는 제품');
			}else{
				$('#pspan').text('존재하지 않는 제품');
			}
		}
	});
};

$(document).ready(function(){
	
	$('input[name="uid"]').keyup(function(){
		// console.log('clicked');	확인용	
		
		var uid = $(this).val();
		sendUid(uid);
	});
	
	$('input[name="pid"]').keyup(function(){
		// console.log('clicked');	확인용	
		
		var pid = $(this).val();
		sendPid(pid);
	});
	
	// form의 내용을 보낸다.
	$('#add').click(function(){
		$('.user').attr({
			'method':'post',
			'action':'addimpl'
		});
		// form(w/class) submit
		$('.user').submit();
	});
});
</script>


<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Add Cart</h1>
        </div>
        <form class="user">
            <div class="form-group">
                UID: <span id="uspan"></span><input type="text" class="form-control form-control-item" name="uid">
            </div>
            <div class="form-group">
                PID: <span id="pspan"></span><input type="number" class="form-control form-control-item" name="pid">
            </div>
            <div class="form-group">
                CNT: <input type="number" class="form-control form-control-item" name="cnt">
            </div>
          	
            <a id="add" href="#" class="btn btn-primary btn-user btn-block">
                ADD
            </a>
        </form>
    </div>
</div>                 